@import "../../variables.scss";
@import "../../globalStyles.scss";

.button {
  width: 100%;
  padding: 12px 36px;
  border: none;
  border-radius: 24px;

  background-color: $button-enabled-background-color;
  color: $button-enabled-text-color;

  &:not(:disabled) {
    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &:disabled {
    background-color: $button-disabled-background-color;
    color: $button-disabled-text-color;
  }
}
