@import "../../variables.scss";
@import "../../globalStyles.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 550px;
  width: 100%;
  height: 100%;
  padding: 48px 32px;

  & .title {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 24px;
  }
}

.formFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.seeRegisteredUsers {
  color: #000000;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.4;
  }
}

.submitButton {
  width: min-content !important;
}

@media (max-width: 920px) {
  .submitButton {
    width: 100% !important;
  }

  .formFooter {
    flex-direction: column;
    gap: 24px;
  }
}
