@import "../../variables.scss";
@import "../../globalStyles.scss";

.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 12px;
  color: $input-label-color;
}

.input {
  border: none;
  border-bottom: 1px solid $input-no-focus-border-color;
  outline: none;
  padding: 12px 0px;
  color: $input-focus-color;
  font-size: 1rem;

  &:disabled {
    opacity: 0.7;
  }

  &:not(:disabled) {
    &:active,
    &:focus,
    &:hover {
      border-bottom-color: $input-focus-border-color;
      cursor: pointer;
    }
  }
}

.inputError {
  border-bottom-color: #d61010;

  &:active,
  &:focus,
  &:hover {
    border-bottom-color: #ff0000;
  }
}

.error {
  margin-top: 12px;
  color: red;
}
